<!-- Main content -->
<div class="d-flex justify-content-center align-items-center">
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-warning"> 404</h2>
      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Página não encontrada.</h3>
        <p>Não foi possível encontrar a página que você estava procurando.</p>
      </div>
    </div>
  </section>
</div>
<!-- /.content -->
