<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Laboratórios</h1>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-success float-sm-right" (click)="openModalRegisterLaboratories()">
          Cadastrar laboratórios
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->

<app-register-laboratories (emitRegisterLaboratories)="subscriberLaboratories()" #modalRegisterLaboratories></app-register-laboratories>
<app-update-laboratories (emitUpdateLaboratories)="subscriberLaboratories()" #modalUpdateLaboratories></app-update-laboratories>
<app-update-status-laboratories (emitUpdateStatusLaboratories)="subscriberLaboratories()" #modalUpdateStatusLaboratories></app-update-status-laboratories>
<app-change-password #modalChangePassword></app-change-password>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body table-responsive">
            <table id="table-laboratories" class="table table-hover" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Nome fantasia</th>
                  <th>Razão social</th>
                  <th>CNPJ</th>
                  <th>Celular</th>
                  <th>Telefone</th>
                  <th>E-mail</th>
                  <th>Endereço completo</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
