<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" bsModal #autoShownModal="bs-modal"
  id="register-schedules-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form #formRegisterPatients="ngForm" (ngSubmit)="register()" id="form-register-schedules">
        <div class="modal-header">
          <h4 class="modal-title">Adicionar novo agendamento</h4>
        </div>
        <div class="modal-body">
          <fieldset class="topics-group">
            <legend>Horários</legend>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="regInputInicio" name="regInputInicio"
                    [(ngModel)]="schedule.dataInicio" #inicio="ngModel" readonly />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="regInputFim" name="regInputFim"
                    [(ngModel)]="schedule.dataFim" #fim="ngModel" readonly />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Atendimento</legend>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <select class="form-control" [ngClass]="{'is-invalid': tipo.invalid && (tipo.dirty || tipo.touched)}"
                    id="regInputTipo" name="regInputTipo" [(ngModel)]="schedule.tipo" #tipo="ngModel" required>
                    <option value="" selected>Selecionar tipo</option>
                    <option value="Consulta">Consulta</option>
                    <option value="Retorno">Retorno</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Pacientes</legend>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <angular2-multiselect class="custom-class-multiselect" [data]="patients"
                    [(ngModel)]="selectedPatients" id="inputPaciente" name="inputPaciente" #paciente="ngModel"
                    [settings]="dropdownSettings" (onDeSelectAll)="onDeSelectAll()" required>
                    <c-search>
                      <ng-template>
                        <input type="text" (keyup)="onKeyUp($event)" placeholder="Pesquise por nome ou cpf" />
                      </ng-template>
                    </c-search>
                    <c-item>
                      <ng-template let-item="item">
                        <label>{{item.info}}</label>
                      </ng-template>
                    </c-item>
                  </angular2-multiselect>
                </div>
              </div>
            </div>
            <div class="accordion" id="accordionPatients">
              <div class="card">
                <div class="card-header" id="heading">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseInfo"
                      aria-expanded="true" aria-controls="collapseInfo">
                      Informações do paciente
                    </button>
                  </h2>
                </div>
                <div id="collapseInfo" class="collapse" aria-labelledby="heading" data-parent="#accordionPatients">
                  <div class="card-body">
                    <div *ngIf="!selectedPatients.length">
                      <p class="text-center">Selecione um paciente</p>
                    </div>
                    <div *ngIf="selectedPatients.length">
                      <fieldset class="topics-group">
                        <legend>Dados pessoais</legend>
                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputNome" name="viewInputNome"
                                placeholder="Nome completo" [(ngModel)]="selectedPatients[0].nome" #nome="ngModel"
                                readonly />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputNomeMae" name="viewInputNomeMae"
                                placeholder="Nome da mãe" [(ngModel)]="selectedPatients[0].nomeMae" #nomeMae="ngModel"
                                readonly />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputDataNascimento"
                                name="viewInputDataNascimento" placeholder="Data de nascimento"
                                [(ngModel)]="selectedPatients[0].dataNascimento" #dataNascimento="ngModel" readonly />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputCpf" name="viewInputCpf"
                                placeholder="CPF" [(ngModel)]="selectedPatients[0].cpf" #cpf="ngModel" readonly />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputRg" name="viewInputRg"
                                placeholder="RG" [(ngModel)]="selectedPatients[0].rg" #rg="ngModel" readonly />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputCns" name="viewInputCns"
                                placeholder="CNS" [(ngModel)]="selectedPatients[0].cns" #cns="ngModel" readonly />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputSanguineo" name="viewInputSanguineo"
                                placeholder="Tipo sanguíneo" [(ngModel)]="selectedPatients[0].tipoSanguineo"
                                #sanguineo="ngModel" readonly />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputSexo" name="viewInputSexo"
                                placeholder="Sexo" [(ngModel)]="selectedPatients[0].sexo" #sexo="ngModel" readonly />
                            </div>
                          </div>
                        </div>
                        <div class="row"
                          *ngIf="selectedPatients[0].nomeResponsavel || selectedPatients[0].cpfResponsavel">
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputNomeResponsavel"
                                name="viewInputNomeResponsavel" placeholder="Nome do responsável"
                                [(ngModel)]="selectedPatients[0].nomeResponsavel" #nomeResponsavel="ngModel"
                                maxlength="100" readonly />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputCpfResponsavel"
                                name="viewInputCpfResponsavel" placeholder="CPF do responsável"
                                [(ngModel)]="selectedPatients[0].cpfResponsavel" #cpfResponsavel="ngModel" readonly />
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset class="topics-group">
                        <legend>Contatos</legend>
                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputCelular" name="viewInputCelular"
                                placeholder="Celular" [(ngModel)]="selectedPatients[0].celular" #celular="ngModel"
                                readonly />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputTelefone" name="viewInputTelefone"
                                placeholder="Telefone" [(ngModel)]="selectedPatients[0].telefone" #telefone="ngModel"
                                readonly />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <input type="email" class="form-control" id="viewInputEmail" name="viewInputEmail"
                                placeholder="E-mail" [(ngModel)]="selectedPatients[0].email" #email="ngModel"
                                readonly />
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset class="topics-group">
                        <legend>Endereço</legend>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputCep" name="viewInputCep"
                                placeholder="CEP" [(ngModel)]="selectedPatients[0].cep" #cep="ngModel" readonly />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-7">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputCidade" name="viewInputCidade"
                                placeholder="Cidade" [(ngModel)]="selectedPatients[0].cidade" #cidade="ngModel"
                                readonly />
                            </div>
                          </div>
                          <div class="col-lg-2 col-md-5">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputEstado" name="viewInputEstado"
                                placeholder="Estado" [(ngModel)]="selectedPatients[0].estado" #estado="ngModel"
                                readonly />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-7">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputLogradouro"
                                name="viewInputLogradouro" placeholder="Logradouro"
                                [(ngModel)]="selectedPatients[0].logradouro" #logradouro="ngModel" readonly />
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-5">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputBairro" name="viewInputBairro"
                                placeholder="Bairro" [(ngModel)]="selectedPatients[0].bairro" #bairro="ngModel"
                                readonly />
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-7">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputComplemento"
                                name="viewInputComplemento" placeholder="Complemento"
                                [(ngModel)]="selectedPatients[0].complemento" #complemento="ngModel" readonly />
                            </div>
                          </div>
                          <div class="col-lg-2 col-md-5">
                            <div class="form-group">
                              <input type="text" class="form-control" id="viewInputNumero" name="viewInputNumero"
                                placeholder="Número" [(ngModel)]="selectedPatients[0].numero" #numero="ngModel"
                                readonly />
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="formRegisterPatients.invalid">Salvar</button>
          <button type="button" class="btn btn-default pull-left" (click)="closeModal()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
