<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Prontuário</h1>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->


<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-widget widget-user-2">
          <div class="widget-user-header bg-default">
            <div class="widget-user-image">
              <img class="img-circle elevation-2"
                [src]="patient.imagemAntiga ? patient.imagemAntiga : './assets/profile.jpg'" alt="User image">
            </div>
            <div class="float-right">
              <h3 class="widget-user-username">{{patient.nome}}</h3>
              <h5 class="widget-user-desc">{{patient.idade}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sticky-top">
        <button type="button" class="btn btn-primary btn-block mb-3" (click)="openModal()"
          *ngIf="!finished && menuIndex >= 0">
          Salvar e finalizar atendimento
        </button>
        <a routerLink="/painel-medico/agenda" class="btn btn-primary btn-block mb-3"
          *ngIf="finished || (!finished && menuIndex === -1)">
          Voltar para a agenda
        </a>

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Atendimento</h3>
          </div>
          <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item active">
                <a class="nav-link pointer" (click)="showMenu(0)" *ngIf="finished">
                  <i class="fas fa-print"></i> Impressões
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link pointer" (click)="showMenu(1)">
                  <i class="fas fa-paste"></i> Prontuário
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer" (click)="showMenu(2)">
                  <i class="fas fa-file-medical"></i> Prescrição
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer" (click)="showMenu(3)">
                  <i class="fas fa-medkit"></i> Exame
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer" (click)="showMenu(4)">
                  <i class="fas fa-times-circle"></i> Atestado
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer" (click)="showMenu(5)">
                  <i class="fas fa-user"></i> Paciente
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9" *ngIf="menuIndex === -1">
        <div class="alert alert-danger alert-dismissible">
          <h5><i class="icon fas fa-ban"></i> Ops!</h5>
          <p>Agendamento não encontrado.</p>
        </div>
      </div>
      <div class="col-md-9" *ngIf="menuIndex === 0">
        <div class="card card-primary card-outline">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Impressões</h3>
          </div>
          <div class="card-body">
            <div class="row d-flex justify-content-center">
              <a *ngIf="medicalPrescription.length" class="btn btn-app" (click)="openModalPdf('prescription')">
                <i class="fas fa-file-medical"></i> Imprimir prescrição
              </a>
              <a *ngIf="medicalExam.length" class="btn btn-app" (click)="openModalPdf('exam')">
                <i class="fas fa-medkit"></i> Imprimir exame
              </a>
              <a *ngIf="medicalCertificate.periodo" class="btn btn-app" (click)="openModalPdf('certificate')">
                <i class="fas fa-times-circle"></i> Imprimir atestado
              </a>
            </div>
            <p class="text-center"
              *ngIf="!medicalPrescription.length && !medicalExam.length && !medicalCertificate.periodo">
              Não há Impressões.</p>
          </div>
        </div>
      </div>
      <div class="col-md-9" *ngIf="menuIndex === 1">
        <div class="card card-primary card-outline">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Prontuário</h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item">
                <a class="nav-link pointer" (click)="openModalMedicalRecordHistoric()">Histórico</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="card card-outline">
              <div class="card-header">
                <h3 class="card-title">Ficha</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="regInputPeso">Peso (kg)</label>
                      <input type="text" class="form-control" name="regInputPeso" id="regInputPeso"
                        [(ngModel)]="medicalRecord.peso" #peso="ngModel" (keyup)="calcImc()" [readonly]="finished" />
                    </div>
                    <div class="form-group">
                      <label for="regInputAltura">Altura (m)</label>
                      <input type="text" class="form-control" name="regInputAltura" id="regInputAltura"
                        [(ngModel)]="medicalRecord.altura" #altura="ngModel" mask="0.00" [dropSpecialCharacters]="false"
                        (keyup)="calcImc()" [readonly]="finished" />
                    </div>
                    <div class="form-group">
                      <label for="inputImc">IMC</label>
                      <input type="number" class="form-control" name="inputImc" id="inputImc"
                        value="{{imc | number : '1.2-2'}}" readonly />
                    </div>
                    <div class="form-group">
                      <label for="inputImc">Resultado</label>
                      <input class="form-control" name="inputResultadoImc" *ngIf="!imc" value="" readonly />
                      <input class="form-control" name="inputResultadoImc" *ngIf="imc <= 18.5"
                        value="Menos do que 18,5 - Abaixo do peso" readonly />
                      <input class="form-control" name="inputResultadoImc" *ngIf="imc >= 18.5 && imc <= 24.9"
                        value="Entre 18,5 e 24,9 - Peso normal" readonly />
                      <input class="form-control" name="inputResultadoImc" *ngIf="imc >= 25 && imc <= 29.9"
                        value="Entre 25 e 29,9 - Sobrepeso" readonly />
                      <input class="form-control" name="inputResultadoImc" *ngIf="imc >= 30 && imc <= 34.9"
                        value="Entre 30 e 34,9 - Obesidade grau 1" readonly />
                      <input class="form-control" name="inputResultadoImc" *ngIf="imc >= 35 && imc <= 39.9"
                        value="Entre 35 e 39,9 - Obesidade grau 2" readonly />
                      <input class="form-control" name="inputResultadoImc" *ngIf="imc >= 40"
                        value="Mais do que 40 - Obesidade grau 3" readonly />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="regInputPA">PA (mmHg)</label>
                      <input type="text" class="form-control" name="regInputPA" id="regInputPA"
                        [(ngModel)]="medicalRecord.pressArter" #pa="ngModel" [readonly]="finished" />
                    </div>
                    <div class="form-group">
                      <label for="regInputFC">FC (bpm)</label>
                      <input type="text" class="form-control" name="regInputFC" id="regInputFC"
                        [(ngModel)]="medicalRecord.freqCard" #fc="ngModel" [readonly]="finished" />
                    </div>
                    <div class="form-group">
                      <label for="regInputFR">FR (mpm)</label>
                      <input type="text" class="form-control" name="regInputFR" id="regInputFR"
                        [(ngModel)]="medicalRecord.freqResp" #fr="ngModel" [readonly]="finished" />
                    </div>
                    <div class="form-group">
                      <label for="regInputTemperatura">Temperatura (°C)</label>
                      <input type="text" class="form-control" name="regInputTemperatura" id="regInputTemperatura"
                        [(ngModel)]="medicalRecord.temperatura" #temperatura="ngModel" [readonly]="finished" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-outline">
              <div class="card-header">
                <h3 class="card-title">Queixa principal</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <textarea class="form-control medical-record-textarea" name="regInputQueixa" id="regInputQueixa"
                    [(ngModel)]="medicalRecord.queixaPrincipal" #queixaPrincipal="ngModel"
                    [readonly]="finished"></textarea>
                </div>
              </div>
            </div>
            <div class="card card-outline">
              <div class="card-header">
                <h3 class="card-title">História da doença atual</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <textarea class="form-control medical-record-textarea" name="regInputHistDoencaAtual"
                    id="regInputHistDoencaAtual" [(ngModel)]="medicalRecord.histDoencaAtual" #histDoencaAtual="ngModel"
                    [readonly]="finished"></textarea>
                </div>
              </div>
            </div>
            <div class="card card-outline">
              <div class="card-header">
                <h3 class="card-title">Interrogatório sintomatológico</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <textarea class="form-control medical-record-textarea" name="regInputInterrSintomatologico"
                    id="regInputInterrSintomatologico" [(ngModel)]="medicalRecord.interrSintom" #interrSintom="ngModel"
                    [readonly]="finished"></textarea>
                </div>
              </div>
            </div>
            <div class="card card-outline">
              <div class="card-header">
                <h3 class="card-title">Antecedentes pessoais e familiares</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <textarea class="form-control medical-record-textarea" name="regInputAntecPessoaisFamiliares"
                    id="regInputAntecPessoaisFamiliares" [(ngModel)]="medicalRecord.antecPessFamil"
                    #antecPessFamil="ngModel" [readonly]="finished"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9" *ngIf="menuIndex === 2">
        <div *ngIf="!finished" class="card card-primary card-outline">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Prescrição</h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item">
                <a class="nav-link pointer" (click)="openModalPrescriptionHistoric()">Histórico</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <angular2-multiselect class="custom-class-multiselect" [data]="medicaments"
                    [(ngModel)]="selectedMedicaments" id="inputMedicamentos" name="inputMedicamentos"
                    #medicamentos="ngModel" [settings]="dropdownSettings" (onDeSelect)="onDeSelectMedicaments()"
                    required>
                    <c-search>
                      <ng-template>
                        <input type="text" (keyup)="onKeyUpMedicaments($event)" id="inputSearchMedicaments"
                          placeholder="Pesquise por nome genérico, fábrica ou fabricante" />
                      </ng-template>
                    </c-search>
                    <c-item>
                      <ng-template let-item="item">
                        <label>{{item.info}}</label>
                      </ng-template>
                    </c-item>
                  </angular2-multiselect>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="selectedMedicaments.length">
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control medical-record-textarea" name="regInputPosologia" id="regInputPosologia"
                    placeholder="Posologia" [(ngModel)]="selectedMedicaments[0].posologia" #posologia="ngModel"
                    required></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-right">
              <button type="button" class="btn btn-primary" (click)="addMedicaments()"
                [disabled]="!selectedMedicaments.length">Adicionar</button>
            </div>
          </div>
        </div>
        <div class="card card-primary card-outline">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Prescrições adicionadas</h3>
            <ul *ngIf="finished" class="nav nav-pills ml-auto p-2">
              <li class="nav-item">
                <a class="nav-link pointer" (click)="openModalPrescriptionHistoric()">Histórico</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <!-- !Finished -->
                  <table *ngIf="!finished" class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nome genérico</th>
                        <th>Nome de fábrica</th>
                        <th>Nome do fabricante</th>
                        <th>Posologia</th>
                        <th *ngIf="!finished"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prescription of medicalPrescription; let i = index">
                        <td>{{prescription.medicamento.nomeGenerico}}</td>
                        <td>{{prescription.medicamento.nomeFabrica}}</td>
                        <td>{{prescription.medicamento.nomeFabricante}}</td>
                        <td>{{prescription.posologia}}</td>
                        <td *ngIf="!finished">
                          <button type="button" class="btn btn-secondary btn-sm" (click)="removeMedicaments(i)">
                            <i class="fas fa-times"></i>
                          </button>
                        </td>
                      </tr>
                      <tr class="text-center" *ngIf="!medicalPrescription.length">
                        <td colspan="5">Nenhum medicamento adicionado.</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Finished -->
                  <table *ngIf="finished" class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nome genérico</th>
                        <th>Nome de fábrica</th>
                        <th>Nome do fabricante</th>
                        <th>Posologia</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prescription of medicalPrescription; let i = index">
                        <td>{{prescription.medicamento.nomeGenerico}}</td>
                        <td>{{prescription.medicamento.nomeFabrica}}</td>
                        <td>{{prescription.medicamento.nomeFabricante}}</td>
                        <td>{{prescription.posologia}}</td>
                      </tr>
                      <tr class="text-center" *ngIf="!medicalPrescription.length">
                        <td colspan="4">Nenhum medicamento adicionado.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9" *ngIf="menuIndex === 3">
        <div class="card card-primary card-outline">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3" *ngIf="!finished">Exame</h3>
            <h3 class="card-title p-3" *ngIf="finished">Exames adicionados</h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item">
                <a class="nav-link pointer" (click)="openModalExamHistoric()">Histórico</a>
              </li>
            </ul>
          </div>
          <div *ngIf="!finished" class="card-body">
            <p class="text-center">É possível criar mais de uma solicitação de exame por prontuário.</p>
          </div>
          <div *ngIf="!finished" class="card-footer">
            <div class="float-right">
              <button type="button" class="btn btn-primary" (click)="createExams()">Criar exame</button>
            </div>
          </div>
        </div>
        <div *ngIf="!finished">
          <div class="card card-primary card-outline" *ngFor="let exam of medicalExam; let indexExam = index">
            <div class="card-header d-flex p-0">
              <h3 class="card-title p-3">Exame número {{indexExam + 1}}</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <angular2-multiselect class="custom-class-multiselect" [data]="typesExams[indexExam]"
                      [(ngModel)]="selectedTypesExams[indexExam]" id="inputExames_{{indexExam}}"
                      name="inputExames_{{indexExam}}" #exames="ngModel" [settings]="dropdownSettings"
                      (onDeSelect)="onDeSelectExams(indexExam)" required>
                      <c-search>
                        <ng-template>
                          <input type="text" (keyup)="onKeyUpExams($event, indexExam)"
                            id="inputSearchTypesExams_{{indexExam}}" placeholder="Pesquise por nome" />
                        </ng-template>
                      </c-search>
                      <c-item>
                        <ng-template let-item="item">
                          <label>{{item.info}}</label>
                        </ng-template>
                      </c-item>
                    </angular2-multiselect>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Tipo de exame</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let exam of medicalExam[indexExam].tipoExame; let indexTypeExam = index">
                          <td>{{exam.nome}}</td>
                          <td>
                            <button type="button" class="btn btn-secondary btn-sm"
                              (click)="removeExams(indexExam, indexTypeExam)">
                              <i class="fas fa-times"></i>
                            </button>
                          </td>
                        </tr>
                        <tr class="text-center" *ngIf="!medicalExam[indexExam].tipoExame.length">
                          <td colspan="2">Nenhum tipo de exame adicionado.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="float-right">
                <button type="button" class="btn btn-primary" (click)="addExams(indexExam)"
                  [disabled]="!selectedTypesExams[indexExam].length">Adicionar</button>
              </div>
              <button type="submit" class="btn btn-danger" (click)="deleteExam(indexExam)">Deletar</button>
            </div>
          </div>
        </div>
        <div *ngIf="finished">
          <div class="card card-primary card-outline" *ngFor="let exam of medicalExam; let indexExam = index">
            <div class="card-header d-flex p-0">
              <h3 class="card-title p-3">Exame número {{indexExam + 1}}</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Tipo de exame</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let type of exam.tipoExame">
                          <td>{{type.nome}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9" *ngIf="menuIndex === 4">
        <div class="card card-primary card-outline">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3" *ngIf="!finished">Atestado</h3>
            <h3 class="card-title p-3" *ngIf="finished">Atestado adicionado</h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item">
                <a class="nav-link pointer" (click)="openModalCertificateHistoric()">Histórico</a>
              </li>
            </ul>
          </div>
          <div class="card-body" *ngIf="!finished">
            <div>
              <p>Atesto, para os devidos fins, a pedido do interessado, que <strong
                  class="text-uppercase">{{patient.nome}}</strong>, foi submetido à consulta médica nesta data,
                <strong>{{schedule.dataInicio | date: 'dd/MM/yyyy HH:mm:ss'}}</strong> -
                <strong>{{schedule.dataFim | date: 'dd/MM/yyyy HH:mm:ss'}}</strong>.</p>
              <p>Em decorrência, deverá permanecer afastado de suas atividades laborativas por um período de
                <strong>{{medicalCertificate.periodo ? medicalCertificate.periodo : '__________' }}</strong>, a partir
                desta data.</p>
            </div>
            <br />
            <input type="text" class="form-control" id="viewInputPeriodo" name="viewInputPeriodo"
              placeholder="Complete com o período de tempo; Ex: 2 dias, 2 horas ..."
              [(ngModel)]="medicalCertificate.periodo" #periodo="ngModel" />
          </div>
          <div class="card-body" *ngIf="finished">
            <div *ngIf="medicalCertificate.periodo">
              <p>Atesto, para os devidos fins, a pedido do interessado, que <strong
                  class="text-uppercase">{{patient.nome}}</strong>, foi submetido à consulta médica nesta data,
                <strong>{{schedule.dataInicio | date: 'dd/MM/yyyy HH:mm:ss'}}</strong> -
                <strong>{{schedule.dataFim | date: 'dd/MM/yyyy HH:mm:ss'}}</strong>.</p>
              <p>Em decorrência, deverá permanecer afastado de suas atividades laborativas por um período de
                <strong>{{medicalCertificate.periodo}}</strong>, a partir
                desta data.</p>
            </div>
            <p class="text-center" *ngIf="!medicalCertificate.periodo">
              Nenhum atestado adicionado.
            </p>
            <br />
          </div>
        </div>
      </div>
      <div class="col-md-9" *ngIf="menuIndex === 5">
        <div class="card card-primary card-outline">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Paciente</h3>
          </div>
          <div class="card-body">
            <fieldset class="topics-group">
              <legend>Dados pessoais</legend>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputNome" name="viewInputNome"
                      placeholder="Nome completo" [(ngModel)]="patient.nome" #nome="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputNomeMae" name="viewInputNomeMae"
                      placeholder="Nome da mãe" [(ngModel)]="patient.nomeMae" #nomeMae="ngModel" readonly />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputDataNascimento" name="viewInputDataNascimento"
                      placeholder="Data de nascimento" [(ngModel)]="patient.dataNascimento" #dataNascimento="ngModel"
                      readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputCpf" name="viewInputCpf" placeholder="CPF"
                      [(ngModel)]="patient.cpf" #cpf="ngModel" readonly />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputRg" name="viewInputRg" placeholder="RG"
                      [(ngModel)]="patient.rg" #rg="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputCns" name="viewInputCns" placeholder="CNS"
                      [(ngModel)]="patient.cns" #cns="ngModel" readonly />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputSanguineo" name="viewInputSanguineo"
                      placeholder="Tipo sanguíneo" [(ngModel)]="patient.tipoSanguineo" #sanguineo="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputSexo" name="viewInputSexo" placeholder="Sexo"
                      [(ngModel)]="patient.sexo" #sexo="ngModel" readonly />
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="patient.nomeResponsavel || patient.cpfResponsavel">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputNomeResponsavel"
                      name="viewInputNomeResponsavel" placeholder="Nome do responsável"
                      [(ngModel)]="patient.nomeResponsavel" #nomeResponsavel="ngModel" maxlength="100" readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputCpfResponsavel" name="viewInputCpfResponsavel"
                      placeholder="CPF do responsável" [(ngModel)]="patient.cpfResponsavel" #cpfResponsavel="ngModel"
                      readonly />
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="topics-group">
              <legend>Contatos</legend>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputCelular" name="viewInputCelular"
                      placeholder="Celular" [(ngModel)]="patient.celular" #celular="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputTelefone" name="viewInputTelefone"
                      placeholder="Telefone" [(ngModel)]="patient.telefone" #telefone="ngModel" readonly />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input type="email" class="form-control" id="viewInputEmail" name="viewInputEmail"
                      placeholder="E-mail" [(ngModel)]="patient.email" #email="ngModel" readonly />
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="topics-group">
              <legend>Endereço</legend>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputCep" name="viewInputCep" placeholder="CEP"
                      [(ngModel)]="patient.cep" #cep="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-7">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputCidade" name="viewInputCidade"
                      placeholder="Cidade" [(ngModel)]="patient.cidade" #cidade="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-2 col-md-5">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputEstado" name="viewInputEstado"
                      placeholder="Estado" [(ngModel)]="patient.estado" #estado="ngModel" readonly />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-7">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputLogradouro" name="viewInputLogradouro"
                      placeholder="Logradouro" [(ngModel)]="patient.logradouro" #logradouro="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-3 col-md-5">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputBairro" name="viewInputBairro"
                      placeholder="Bairro" [(ngModel)]="patient.bairro" #bairro="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-3 col-md-7">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputComplemento" name="viewInputComplemento"
                      placeholder="Complemento" [(ngModel)]="patient.complemento" #complemento="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-2 col-md-5">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputNumero" name="viewInputNumero"
                      placeholder="Número" [(ngModel)]="patient.numero" #numero="ngModel" readonly />
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" bsModal #autoShownModal="bs-modal"
  id="confirm-register-medical-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">
          Revise todos os dados antes de salvar
        </h4>
      </div>
      <div class="modal-body">
        <p>Após salvar, não será mais possível editar!</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="validateMedical()">Confirmar</button>
        <button type="button" class="btn btn-default" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>

<app-pdf #modalPdf></app-pdf>
<app-exam #modalExamHistoric></app-exam>
<app-certificate #modalCertificateHistoric></app-certificate>
<app-prescription #modalPrescriptionHistoric></app-prescription>
<app-medical-record #modalMedicalRecordHistoric></app-medical-record>
