<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static', keyboard: false }" bsModal
  #autoShownModal="bs-modal" id="confirm-register-medical-modal" class="modal fade" tabindex="-1" role="dialog"
  (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Histórico de exames</h4>
      </div>
      <div class="modal-body">
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div *ngIf="items.length" class="col-md-12">
                <div class="timeline">
                  <div *ngFor="let item of items">
                    <i class="fas fa-times-circle text-white"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header">{{item.prontuario.medico.nome}} - CRM
                        {{item.prontuario.medico.crm}}</h3>
                      <div class="timeline-body">
                        <div class="mt-4 card card-primary card-outline"
                          *ngFor="let exam of item.exames; let indexExam = index">
                          <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Exames adicionados número {{indexExam + 1}}</h3>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12">
                                <div class="table-responsive">
                                  <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Tipo de exame</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let type of exam.tipoExame">
                                        <td>{{type.nome}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-footer">
                        <div class="btn-group" role="group">
                          <a class="btn btn-primary btn-sm" target="_blank"
                            [routerLink]="['/painel-medico/prontuario', item.prontuario.agendamento.id]">
                            Ir para prontuário</a>
                          <button type="button" class="btn btn-default btn-sm"
                            (click)="openModalPdf(item.prontuario, item.exames)">Imprimir</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <i class="fas fa-clock text-white"></i>
                  </div>
                </div>
              </div>
              <div *ngIf="!items.length" class="col-md-12">
                <p class="text-center">Nenhum exame encontrado.</p>
              </div>
            </div>
            <!-- <div class="row" *ngIf="!finished">
              <div class="mx-auto" (click)="findExamHistoricByPatientId()">
                <button class="btn btn-default">Clique para carregar mais exames</button>
              </div>
            </div> -->
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>

<app-pdf #modalPdf></app-pdf>
