<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" bsModal #autoShownModal="bs-modal"
  id="change-password-safely-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form #formChangePasswordSafely="ngForm" (ngSubmit)="changePassword()" id="form-change-password-safely">
        <div class="modal-header">
          <h4 class="modal-title">Alterar senha</h4>
        </div>
        <div class="modal-body">
          <fieldset class="topics-group">
            <legend>Senha</legend>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <input type="password" class="form-control"
                    [ngClass]="{'is-invalid': novaSenha.invalid && (novaSenha.dirty || novaSenha.touched) || differentPasswords}"
                    id="updInputNovaSenha" name="updInputNovaSenha" placeholder="Nova senha"
                    [(ngModel)]="user.novaSenha" #novaSenha="ngModel" minlength="6" maxlength="50"
                    (keyup)="validatePasswords()" required />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input type="password" class="form-control"
                    [ngClass]="{'is-invalid': confirmarSenha.invalid && (confirmarSenha.dirty || confirmarSenha.touched) || differentPasswords}"
                    id="updInputConfirmarSenha" name="updInputConfirmarSenha" placeholder="Confirmar nova senha"
                    [(ngModel)]="user.confirmarSenha" #confirmarSenha="ngModel" minlength="6" maxlength="50"
                    (keyup)="validatePasswords()" required />
                </div>
              </div>
            </div>
            <div *ngIf="differentPasswords" class="row">
              <div class="col-12">
                <div class="alert alert-danger alert-dismissible">
                  <h6><i class="icon fas fa-ban"></i> As senhas não conferem.</h6>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success"
            [disabled]="formChangePasswordSafely.invalid || differentPasswords">Salvar</button>
          <button type="button" class="btn btn-default pull-left" (click)="closeModal()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
