<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static', keyboard: false }" bsModal
  #autoShownModal="bs-modal" id="delete-event-modal" class="modal fade" tabindex="-1" role="dialog"
  (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Deletar agendamento?</h4>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)="confirmEvent()">Deletar</button>
        <button type="button" class="btn btn-default" (click)="closeModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
