<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" bsModal #autoShownModal="bs-modal"
  id="update-doctors-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form #formUpdateDoctors="ngForm" (ngSubmit)="update()" id="form-update-doctors">
        <div class="modal-header">
          <h4 class="modal-title">Atualizar médico</h4>
        </div>
        <div class="modal-body">
          <fieldset class="topics-group">
            <legend>Dados pessoais</legend>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': nome.invalid && (nome.dirty || nome.touched)}" id="updInputNome"
                    name="updInputNome" placeholder="Nome completo" [(ngModel)]="doctor.nome" #nome="ngModel"
                    maxlength="100" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched)}"
                    id="updInputDataNascimento" name="updInputDataNascimento" placeholder="Data de nascimento"
                    [(ngModel)]="doctor.dataNascimento" #dataNascimento="ngModel" mask="00/00/0000" [validation]="true"
                    [dropSpecialCharacters]="false" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': cpf.invalid && (cpf.dirty || cpf.touched)}" id="updInputCpf"
                    name="updInputCpf" placeholder="CPF" [(ngModel)]="doctor.cpf" #cpf="ngModel" mask="000.000.000-00"
                    [validation]="true" [dropSpecialCharacters]="false" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': rg.invalid && (rg.dirty || rg.touched)}" id="updInputRg" name="updInputRg"
                    placeholder="RG" [(ngModel)]="doctor.rg" #rg="ngModel" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': crm.invalid && (crm.dirty || crm.touched)}" id="updInputCrm"
                    name="updInputCrm" placeholder="CRM" [(ngModel)]="doctor.crm" #crm="ngModel" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control readonly-upload-file" placeholder="Nenhum imagem selecionada"
                      [(ngModel)]="selectedFilename" #imagem="ngModel" [ngModelOptions]="{standalone: true}"
                      onclick="$('#updInputImagem').trigger('click')" readonly />
                    <div class="input-group-append">
                      <a class="btn btn-default btn-flat" type="button" onclick="$('#updInputImagem').trigger('click')">
                        Selecionar
                      </a>
                      <input type="file" class="form-control hidden-upload-file" id="updInputImagem"
                        name="updInputImagem" (change)="onFileSelected($event)" accept="image/*" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Especialidades</legend>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <angular2-multiselect [data]="specialties" [(ngModel)]="selectedSpecialties" id="inputEspecialidades"
                    name="inputEspecialidades" #especialidades="ngModel" [settings]="dropdownSettings"
                    (onDeSelectAll)="onDeSelectAll()" required>
                  </angular2-multiselect>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Contatos</legend>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': celular.invalid && (celular.dirty || celular.touched)}"
                    id="updInputCelular" name="updInputCelular" placeholder="Celular" [(ngModel)]="doctor.celular"
                    #celular="ngModel" mask="(00) 00000-0000" [validation]="true" [dropSpecialCharacters]="false"
                    required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': telefone.invalid && (telefone.dirty || telefone.touched)}"
                    id="updInputTelefone" name="updInputTelefone" placeholder="Telefone" [(ngModel)]="doctor.telefone"
                    #telefone="ngModel" mask="(00) 0000-0000" [validation]="true" [dropSpecialCharacters]="false" />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Endereço</legend>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control"
                      [ngClass]="{'is-invalid': cep.invalid && (cep.dirty || cep.touched)}" id="updInputCep"
                      name="updInputCep" placeholder="CEP" [(ngModel)]="doctor.cep" #cep="ngModel" mask="00000-000"
                      [validation]="true" [dropSpecialCharacters]="false" required (blur)="searchCep()" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="searchCep()">
                        <i class="nav-icon fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-7">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': cidade.invalid && (cidade.dirty || cidade.touched)}" id="updInputCidade"
                    name="updInputCidade" placeholder="Cidade" [(ngModel)]="doctor.cidade" #cidade="ngModel"
                    maxlength="80" required />
                </div>
              </div>
              <div class="col-lg-2 col-md-5">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': estado.invalid && (estado.dirty || estado.touched)}" id="updInputEstado"
                    name="updInputEstado" placeholder="Estado" [(ngModel)]="doctor.estado" #estado="ngModel" mask="SS"
                    [validation]="true" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-7">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': logradouro.invalid && (logradouro.dirty || logradouro.touched)}"
                    id="updInputLogradouro" name="updInputLogradouro" placeholder="Logradouro"
                    [(ngModel)]="doctor.logradouro" #logradouro="ngModel" maxlength="80" required />
                </div>
              </div>
              <div class="col-lg-3 col-md-5">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': bairro.invalid && (bairro.dirty || bairro.touched)}" id="updInputBairro"
                    name="updInputBairro" placeholder="Bairro" [(ngModel)]="doctor.bairro" #bairro="ngModel"
                    maxlength="50" required />
                </div>
              </div>
              <div class="col-lg-3 col-md-7">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': complemento.invalid && (complemento.dirty || complemento.touched)}"
                    id="updInputComplemento" name="updInputComplemento" placeholder="Complemento"
                    [(ngModel)]="doctor.complemento" #complemento="ngModel" maxlength="80" />
                </div>
              </div>
              <div class="col-lg-2 col-md-5">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': numero.invalid && (numero.dirty || numero.touched)}" id="updInputNumero"
                    name="updInputNumero" placeholder="Número" [(ngModel)]="doctor.numero" #numero="ngModel" required />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="formUpdateDoctors.invalid">Salvar</button>
          <button type="button" class="btn btn-default pull-left" (click)="closeModal()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
