<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Perfil</h1>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-success float-sm-right" (click)="openModalChangePasswordSafely()">
          Alterar senha
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->

<app-change-password-safely #modalChangePasswordSafely></app-change-password-safely>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form #formUpdateLaboratories="ngForm" (ngSubmit)="update()" id="form-update-doctors">
              <fieldset class="topics-group">
                <legend>Dados pessoais</legend>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': nomeFantasia.invalid && (nomeFantasia.dirty || nomeFantasia.touched)}"
                        id="updInputNomeResponsavel" name="updInputNomeResponsavel" placeholder="Nome fantasia"
                        [(ngModel)]="laboratory.nome" #nomeFantasia="ngModel" maxlength="100" required />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': razaoSocial.invalid && (razaoSocial.dirty || razaoSocial.touched)}"
                        id="updInputRazaoSocial" name="updInputRazaoSocial" placeholder="Razão social"
                        [(ngModel)]="laboratory.razaoSocial" #razaoSocial="ngModel" maxlength="100" required />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': cnpj.invalid && (cnpj.dirty || cnpj.touched)}" id="updInputCnpj"
                        name="updInputCnpj" placeholder="CNPJ" [(ngModel)]="laboratory.cnpj" #cnpj="ngModel"
                        mask="00.000.000/0000-00" [validation]="true" [dropSpecialCharacters]="false" required />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control readonly-upload-file"
                          placeholder="Nenhum imagem selecionada" [(ngModel)]="selectedFilename" #imagem="ngModel"
                          [ngModelOptions]="{standalone: true}" onclick="$('#updInputImagem').trigger('click')"
                          readonly />
                        <div class="input-group-append">
                          <a class="btn btn-default btn-flat" type="button"
                            onclick="$('#updInputImagem').trigger('click')">
                            Selecionar
                          </a>
                          <input type="file" class="form-control hidden-upload-file" id="updInputImagem"
                            name="updInputImagem" (change)="onFileSelected($event)" accept="image/*" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="topics-group">
                <legend>Contatos</legend>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': celular.invalid && (celular.dirty || celular.touched)}"
                        id="updInputCelular" name="updInputCelular" placeholder="Celular"
                        [(ngModel)]="laboratory.celular" #celular="ngModel" mask="(00) 00000-0000" [validation]="true"
                        [dropSpecialCharacters]="false" required />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': telefone.invalid && (telefone.dirty || telefone.touched)}"
                        id="updInputTelefone" name="updInputTelefone" placeholder="Telefone"
                        [(ngModel)]="laboratory.telefone" #telefone="ngModel" mask="(00) 0000-0000" [validation]="true"
                        [dropSpecialCharacters]="false" />
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="topics-group">
                <legend>Endereço</legend>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control"
                          [ngClass]="{'is-invalid': cep.invalid && (cep.dirty || cep.touched)}" id="updInputCep"
                          name="updInputCep" placeholder="CEP" [(ngModel)]="laboratory.cep" #cep="ngModel"
                          mask="00000-000" [validation]="true" [dropSpecialCharacters]="false" required
                          (blur)="searchCep()" />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" (click)="searchCep()">
                            <i class="nav-icon fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-7">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': cidade.invalid && (cidade.dirty || cidade.touched)}"
                        id="updInputCidade" name="updInputCidade" placeholder="Cidade" [(ngModel)]="laboratory.cidade"
                        #cidade="ngModel" maxlength="80" required />
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-5">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': estado.invalid && (estado.dirty || estado.touched)}"
                        id="updInputEstado" name="updInputEstado" placeholder="Estado" [(ngModel)]="laboratory.estado"
                        #estado="ngModel" mask="SS" [validation]="true" required />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-7">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': logradouro.invalid && (logradouro.dirty || logradouro.touched)}"
                        id="updInputLogradouro" name="updInputLogradouro" placeholder="Logradouro"
                        [(ngModel)]="laboratory.logradouro" #logradouro="ngModel" maxlength="80" required />
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-5">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': bairro.invalid && (bairro.dirty || bairro.touched)}"
                        id="updInputBairro" name="updInputBairro" placeholder="Bairro" [(ngModel)]="laboratory.bairro"
                        #bairro="ngModel" maxlength="50" required />
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-7">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': complemento.invalid && (complemento.dirty || complemento.touched)}"
                        id="updInputComplemento" name="updInputComplemento" placeholder="Complemento"
                        [(ngModel)]="laboratory.complemento" #complemento="ngModel" maxlength="80" />
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-5">
                    <div class="form-group">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': numero.invalid && (numero.dirty || numero.touched)}"
                        id="updInputNumero" name="updInputNumero" placeholder="Número" [(ngModel)]="laboratory.numero"
                        #numero="ngModel" required />
                    </div>
                  </div>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-success float-right"
                [disabled]="formUpdateLaboratories.invalid">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
