<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Painel</h1>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card" *ngIf="exam.exame.statusEntrega === '0'">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Resultado não liberado.</h3>
          </div>
        </div>
        <div class="card" *ngIf="exam.exame.statusEntrega === '1'">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Resultado liberado dia
              {{exam.exame.dataEntrega | date: 'dd/MM/yyyy HH:mm:ss'}}
            </h3>
          </div>
          <div class="card-body">
            <a href="{{exam.exame.resultado}}" target="_blank" rel="nofollow noopener noreferrer">Download</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Exames</h3>
          </div>
          <div class="card-body">
            <fieldset class="topics-group">
              <legend>Dados do médico</legend>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputNomeMedico" name="viewInputNomeMedico"
                      placeholder="Nome" [(ngModel)]="exam.prontuario.medico.nome" #nomeMedico="ngModel" readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputCrm" name="viewInputCrm" placeholder="CRM"
                      [(ngModel)]="exam.prontuario.medico.crm" #crm="ngModel" readonly />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputMedicoCelular" name="viewInputMedicoCelular"
                      placeholder="Celular" [(ngModel)]="exam.prontuario.medico.celular" #celularMedico="ngModel"
                      readonly />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="viewInputMedicoTelefone" name="viewInputMedicoTelefone"
                      placeholder="Telefone" [(ngModel)]="exam.prontuario.medico.telefone" #telefoneMedico="ngModel"
                      readonly />
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Tipo de exame</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let type of exam.exame.tipoExame">
                        <td>{{type.nome}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
