<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Agenda</h1>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->

<app-confirm-event (emitConfirmEvent)="subscriberConfirmUpdateSchedules($event)" #modalConfirmEvent></app-confirm-event>
<app-register-schedules (emitRegisterSchedules)="subscriberSchedules()" #modalRegisterSchedules></app-register-schedules>
<app-update-schedules (emitUpdateSchedules)="subscriberSchedules()"
  (emitDeleteSchedules)="subscriberSchedules()" #modalUpdateSchedules></app-update-schedules>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <full-calendar
              id="calendar"
              #calendar
              [header]="{
                left: 'prev,next, today',
                center: 'title',
                right: 'timeGridDay,timeGridWeek,dayGridMonth,listDay'
              }"
              [locales]="locales"
              [plugins]="calendarPlugins"
              [defaultView]="'timeGridWeek'"
              [weekends]="true"
              [contentHeight]="'auto'"
              [slotDuration]="'00:10:00'"
              [slotLabelInterval]="'01:00:00'"
              [minTime]="'07:00:00'"
              [maxTime]="'18:00:00'"
              [businessHours]="businessHours"
              [selectConstraint]="'businessHours'"
              [eventConstraint]="'businessHours'"
              [events]="findAllEvent"
              [eventAllow]="handleEventAllow"
              [selectOverlap]="false"
              [eventOverlap]="false"
              [allDaySlot]="false"
              [editable]="true"
              [selectable]="true"
              (select)="handleDateClick($event)"
              (eventClick)="handleEventClick($event)"
              (eventDragStart)="handleDragStart($event)"
              (eventDrop)="handleDrop($event)"
              (eventResizeStart)="handleResizeStart($event)"
              (eventResize)="handleResize($event)"
            ></full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
