<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/" class="text-uppercase">Login</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <img class="mt-2 mb-4 img-responsive" src="./assets/logo/logo_horizontal.png" alt="Clínica Viva +">

        <form #formLogin="ngForm" (ngSubmit)="login()" id="form-login">
          <div class="input-group mb-3">
            <input type="email" class="form-control"
              [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" id="inputEmail"
              name="inputEmail" placeholder="E-mail" [(ngModel)]="user.email" #email="ngModel" maxlength="100"
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
              required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control"
              [ngClass]="{'is-invalid': senha.invalid && (senha.dirty || senha.touched)}" id="inputSenha"
              name="inputSenha" placeholder="Senha" [(ngModel)]="user.senha" #senha="ngModel" minlength="6"
              maxlength="50" required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-outline-dark btn-block"
                [disabled]="formLogin.invalid">Acessar</button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <a class="btn btn-outline-secondary btn-block" routerLink="/login">Acessar login de pacientes</a>
            </div>
          </div>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>
