<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static', keyboard: false }" bsModal
  #autoShownModal="bs-modal" id="confirm-register-medical-modal" class="modal fade" tabindex="-1" role="dialog"
  (onHidden)="onHiddenModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Gerando PDF</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">AGUARDE ...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>
