<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Medicamentos</h1>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-success float-sm-right" (click)="openModalRegisterMedicaments()">
          Cadastrar medicamentos
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->

<app-register-medicaments (emitRegisterMedicaments)="subscriberMedicaments()" #modalRegisterMedicaments></app-register-medicaments>
<app-update-medicaments (emitUpdateMedicaments)="subscriberMedicaments()" #modalUpdateMedicaments></app-update-medicaments>
<app-update-status-medicaments (emitUpdateStatusMedicaments)="subscriberMedicaments()" #modalUpdateStatusMedicaments></app-update-status-medicaments>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body table-responsive">
            <table id="table-medicaments" class="table table-hover" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Nome genérico</th>
                  <th>Nome de fábrica</th>
                  <th>Nome do fabricante</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
