<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static', keyboard: false }" bsModal #autoShownModal="bs-modal"
  id="confirm-register-medical-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Histórico de prontuários</h4>
      </div>
      <div class="modal-body">
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div *ngIf="records.length" class="col-md-12">
                <div class="timeline">
                  <div *ngFor="let record of records">
                    <i class="fas fa-times-circle text-white"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header">{{record.medico.nome}} - CRM
                        {{record.medico.crm}}</h3>
                      <div class="timeline-body">
                        <div class="mt-4 card card-primary card-outline">
                          <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Prontuário</h3>
                          </div>
                          <div class="card-body">
                            <div class="card card-outline collapsed-card">
                              <div class="card-header">
                                <h3 class="card-title">Ficha</h3>
                                <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                      class="fas fa-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="regInputPeso">Peso (kg)</label>
                                      <input type="text" class="form-control" name="regInputPeso" id="regInputPeso"
                                        [(ngModel)]="record.peso" #peso="ngModel" readonly />
                                    </div>
                                    <div class="form-group">
                                      <label for="regInputAltura">Altura (m)</label>
                                      <input type="text" class="form-control" name="regInputAltura" id="regInputAltura"
                                        [(ngModel)]="record.altura" #altura="ngModel" mask="0.00"
                                        [dropSpecialCharacters]="false" readonly />
                                    </div>
                                    <div class="form-group">
                                      <label for="inputImc">IMC</label>
                                      <input type="number" class="form-control" name="inputImc" id="inputImc"
                                        [(ngModel)]="record.imc" #imc="ngModel" readonly />
                                    </div>
                                    <div class="form-group">
                                      <label for="inputImc">Resultado</label>
                                      <input type="text" class="form-control" name="inputResultadoImc"
                                        *ngIf="!record.imc" value="" readonly />
                                      <div *ngIf="record.imc">
                                        <input type="text" class="form-control" name="inputResultadoImc"
                                          *ngIf="record.imc <= 18.5" value="Menos do que 18,5 - Abaixo do peso"
                                          readonly />
                                        <input type="text" class="form-control" name="inputResultadoImc"
                                          *ngIf="record.imc >= 18.5 && record.imc <= 24.9"
                                          value="Entre 18,5 e 24,9 - Peso normal" readonly />
                                        <input type="text" class="form-control" name="inputResultadoImc"
                                          *ngIf="record.imc >= 25 && record.imc <= 29.9"
                                          value="Entre 25 e 29,9 - Sobrepeso" readonly />
                                        <input type="text" class="form-control" name="inputResultadoImc"
                                          *ngIf="record.imc >= 30 && record.imc <= 34.9"
                                          value="Entre 30 e 34,9 - Obesidade grau 1" readonly />
                                        <input type="text" class="form-control" name="inputResultadoImc"
                                          *ngIf="record.imc >= 35 && record.imc <= 39.9"
                                          value="Entre 35 e 39,9 - Obesidade grau 2" readonly />
                                        <input type="text" class="form-control" name="inputResultadoImc"
                                          *ngIf="record.imc >= 40" value="Mais do que 40 - Obesidade grau 3" readonly />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="regInputPA">PA (mmHg)</label>
                                      <input type="text" class="form-control" name="regInputPA" id="regInputPA"
                                        [(ngModel)]="record.pressArter" #pa="ngModel" readonly />
                                    </div>
                                    <div class="form-group">
                                      <label for="regInputFC">FC (bpm)</label>
                                      <input type="text" class="form-control" name="regInputFC" id="regInputFC"
                                        [(ngModel)]="record.freqCard" #fc="ngModel" readonly />
                                    </div>
                                    <div class="form-group">
                                      <label for="regInputFR">FR (mpm)</label>
                                      <input type="text" class="form-control" name="regInputFR" id="regInputFR"
                                        [(ngModel)]="record.freqResp" #fr="ngModel" readonly />
                                    </div>
                                    <div class="form-group">
                                      <label for="regInputTemperatura">Temperatura (°C)</label>
                                      <input type="text" class="form-control" name="regInputTemperatura"
                                        id="regInputTemperatura" [(ngModel)]="record.temperatura" #temperatura="ngModel"
                                        readonly />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="card card-outline collapsed-card">
                              <div class="card-header">
                                <h3 class="card-title">Queixa principal</h3>
                                <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="form-group">
                                  <textarea class="form-control medical-record-textarea" name="regInputQueixa"
                                    id="regInputQueixa" [(ngModel)]="record.queixaPrincipal" #queixaPrincipal="ngModel"
                                    readonly></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="card card-outline collapsed-card">
                              <div class="card-header">
                                <h3 class="card-title">História da doença atual</h3>
                                <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="form-group">
                                  <textarea class="form-control medical-record-textarea" name="regInputHistDoencaAtual"
                                    id="regInputHistDoencaAtual" [(ngModel)]="record.histDoencaAtual"
                                    #histDoencaAtual="ngModel" readonly></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="card card-outline collapsed-card">
                              <div class="card-header">
                                <h3 class="card-title">Interrogatório sintomatológico</h3>
                                <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="form-group">
                                  <textarea class="form-control medical-record-textarea"
                                    name="regInputInterrSintomatologico" id="regInputInterrSintomatologico"
                                    [(ngModel)]="record.interrSintom" #interrSintom="ngModel" readonly></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="card card-outline collapsed-card">
                              <div class="card-header">
                                <h3 class="card-title">Antecedentes pessoais e familiares</h3>
                                <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="form-group">
                                  <textarea class="form-control medical-record-textarea"
                                    name="regInputAntecPessoaisFamiliares" id="regInputAntecPessoaisFamiliares"
                                    [(ngModel)]="record.antecPessFamil" #antecPessFamil="ngModel" readonly></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-sm" target="_blank"
                          [routerLink]="['/painel-medico/prontuario', record.agendamento.id]">
                          Ir para prontuário</a>
                      </div>
                    </div>
                  </div>
                  <div>
                    <i class="fas fa-clock text-white"></i>
                  </div>
                </div>
              </div>
              <div *ngIf="!records.length" class="col-md-12">
                <p class="text-center">Nenhum prontuário encontrado.</p>
              </div>
            </div>
            <!-- <div class="row" *ngIf="!finished">
              <div class="mx-auto" (click)="findMedicalRecordHistoricByPatientId()">
                <button class="btn btn-default">Clique para carregar mais prontuários</button>
              </div>
            </div> -->
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>
