<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static', keyboard: false }" bsModal
  #autoShownModal="bs-modal" id="confirm-event-modal" class="modal fade" tabindex="-1" role="dialog"
  (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Atualizar agendamento?</h4>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5>DE:</h5>
            <p>{{ updateStartDate.dataInicio | date: 'dd/MM/yyyy HH:mm:ss' }} |
              {{ updateStartDate.dataFim | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>PARA:</h5>
            <p>{{ updateEndDate.dataInicio | date: 'dd/MM/yyyy HH:mm:ss' }} |
              {{ updateEndDate.dataFim | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="confirmEvent()">Confirmar</button>
        <button type="button" class="btn btn-default" (click)="cancelEvent()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
