<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" bsModal #autoShownModal="bs-modal"
  id="register-medicaments-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHiddenModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #formRegisterMedicaments="ngForm" (ngSubmit)="register()" id="form-register-medicaments">
        <div class="modal-header">
          <h4 class="modal-title">Adicionar novo medicamento</h4>
        </div>
        <div class="modal-body">
          <fieldset class="topics-group">
            <legend>Dados</legend>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': nomeGenerico.invalid && (nomeGenerico.dirty || nomeGenerico.touched)}"
                    id="regInputNomeGenerico" name="regInputNomeGenerico" placeholder="Nome genérico"
                    [(ngModel)]="medicament.nomeGenerico" #nomeGenerico="ngModel" maxlength="100" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': nomeFabrica.invalid && (nomeFabrica.dirty || nomeFabrica.touched)}"
                    id="regInputNomeFabrica" name="regInputNomeFabrica" placeholder="Nome de fábrica"
                    [(ngModel)]="medicament.nomeFabrica" #nomeFabrica="ngModel" maxlength="100" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': nomeFabricante.invalid && (nomeFabricante.dirty || nomeFabricante.touched)}"
                    id="regInputNomeFabricante" name="regInputNomeFabricante" placeholder="Nome do fabricante"
                    [(ngModel)]="medicament.nomeFabricante" #nomeFabricante="ngModel" maxlength="100" />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success"
            [disabled]="!medicament.nomeGenerico && !medicament.nomeFabrica && !medicament.nomeFabricante">Salvar</button>
          <button type="button" class="btn btn-default pull-left" (click)="closeModal()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
