.doctors-list {
  padding-left: 0;
  list-style: none;
}

.doctors-list li {
  float: left;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.doctors-list li img {
  width: 80px;
  height: 90px;
  border-radius: 50%;
}

.doctor-list-name {
  margin: 0;
}
