<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" bsModal #autoShownModal="bs-modal"
  id="update-status-patients-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">
          Deseja {{ status === '1' ? 'desativar ' : 'ativar ' }} paciente?
        </h4>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="updateStatus()">Confirmar</button>
        <button type="button" class="btn btn-default" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>
