<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Médicos</h1>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-success float-sm-right" (click)="openModalRegisterDoctors()">
          Cadastrar médicos
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->

<app-register-doctors (emitRegisterDoctors)="subscriberDoctors()" #modalRegisterDoctors></app-register-doctors>
<app-update-doctors (emitUpdateDoctors)="subscriberDoctors()" #modalUpdateDoctors></app-update-doctors>
<app-update-status-doctors (emitUpdateStatusDoctors)="subscriberDoctors()" #modalUpdateStatusDoctors></app-update-status-doctors>
<app-change-password #modalChangePassword></app-change-password>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body table-responsive">
            <table id="table-doctors" class="table table-hover" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Data de nascimento</th>
                  <th>CPF</th>
                  <th>RG</th>
                  <th>CRM</th>
                  <th>Celular</th>
                  <th>Telefone</th>
                  <th>E-mail</th>
                  <th>Endereço completo</th>
                  <th>Especialidades</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
