<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" bsModal #autoShownModal="bs-modal"
  id="register-doctors-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form #formRegisterDoctors="ngForm" (ngSubmit)="register()" id="form-register-doctors">
        <div class="modal-header">
          <h4 class="modal-title">Adicionar novo médico</h4>
        </div>
        <div class="modal-body">
          <fieldset class="topics-group">
            <legend>Dados pessoais</legend>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': nome.invalid && (nome.dirty || nome.touched)}" id="regInputNome"
                    name="regInputNome" placeholder="Nome completo" [(ngModel)]="doctor.nome" #nome="ngModel"
                    maxlength="100" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched)}"
                    id="regInputDataNascimento" name="regInputDataNascimento" placeholder="Data de nascimento"
                    [(ngModel)]="doctor.dataNascimento" #dataNascimento="ngModel" mask="00/00/0000" [validation]="true"
                    [dropSpecialCharacters]="false" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': cpf.invalid && (cpf.dirty || cpf.touched)}" id="regInputCpf"
                    name="regInputCpf" placeholder="CPF" [(ngModel)]="doctor.cpf" #cpf="ngModel" mask="000.000.000-00"
                    [validation]="true" [dropSpecialCharacters]="false" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': rg.invalid && (rg.dirty || rg.touched)}" id="regInputRg" name="regInputRg"
                    placeholder="RG" [(ngModel)]="doctor.rg" #rg="ngModel" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': crm.invalid && (crm.dirty || crm.touched)}" id="regInputCrm"
                    name="regInputCrm" placeholder="CRM" [(ngModel)]="doctor.crm" #crm="ngModel" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control readonly-upload-file" placeholder="Nenhum imagem selecionada"
                      [(ngModel)]="selectedFilename" #imagem="ngModel" [ngModelOptions]="{standalone: true}"
                      onclick="$('#regInputImagem').trigger('click')" readonly />
                    <div class="input-group-append">
                      <a class="btn btn-default btn-flat" type="button" onclick="$('#regInputImagem').trigger('click')">
                        Selecionar
                      </a>
                      <input type="file" class="form-control hidden-upload-file" id="regInputImagem"
                        name="regInputImagem" (change)="onFileSelected($event)" accept="image/*" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Especialidades</legend>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <angular2-multiselect [data]="specialties" [(ngModel)]="selectedSpecialties" id="inputEspecialidades"
                    name="inputEspecialidades" #especialidades="ngModel" [settings]="dropdownSettings"
                    (onDeSelectAll)="onDeSelectAll()" required>
                  </angular2-multiselect>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Contatos</legend>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': celular.invalid && (celular.dirty || celular.touched)}"
                    id="regInputCelular" name="regInputCelular" placeholder="Celular" [(ngModel)]="doctor.celular"
                    #celular="ngModel" mask="(00) 00000-0000" [validation]="true" [dropSpecialCharacters]="false"
                    required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': telefone.invalid && (telefone.dirty || telefone.touched)}"
                    id="regInputTelefone" name="regInputTelefone" placeholder="Telefone" [(ngModel)]="doctor.telefone"
                    #telefone="ngModel" mask="(00) 0000-0000" [validation]="true" [dropSpecialCharacters]="false" />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Endereço</legend>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control"
                      [ngClass]="{'is-invalid': cep.invalid && (cep.dirty || cep.touched)}" id="regInputCep"
                      name="regInputCep" placeholder="CEP" [(ngModel)]="doctor.cep" #cep="ngModel" mask="00000-000"
                      [validation]="true" [dropSpecialCharacters]="false" required (blur)="searchCep()" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="searchCep()">
                        <i class="nav-icon fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-7">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': cidade.invalid && (cidade.dirty || cidade.touched)}" id="regInputCidade"
                    name="regInputCidade" placeholder="Cidade" [(ngModel)]="doctor.cidade" #cidade="ngModel"
                    maxlength="80" required />
                </div>
              </div>
              <div class="col-lg-2 col-md-5">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': estado.invalid && (estado.dirty || estado.touched)}" id="regInputEstado"
                    name="regInputEstado" placeholder="Estado" [(ngModel)]="doctor.estado" #estado="ngModel" mask="SS"
                    [validation]="true" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-7">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': logradouro.invalid && (logradouro.dirty || logradouro.touched)}"
                    id="regInputLogradouro" name="regInputLogradouro" placeholder="Logradouro"
                    [(ngModel)]="doctor.logradouro" #logradouro="ngModel" maxlength="80" required />
                </div>
              </div>
              <div class="col-lg-3 col-md-5">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': bairro.invalid && (bairro.dirty || bairro.touched)}" id="regInputBairro"
                    name="regInputBairro" placeholder="Bairro" [(ngModel)]="doctor.bairro" #bairro="ngModel"
                    maxlength="50" required />
                </div>
              </div>
              <div class="col-lg-3 col-md-7">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': complemento.invalid && (complemento.dirty || complemento.touched)}"
                    id="regInputComplemento" name="regInputComplemento" placeholder="Complemento"
                    [(ngModel)]="doctor.complemento" #complemento="ngModel" maxlength="80" />
                </div>
              </div>
              <div class="col-lg-2 col-md-5">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': numero.invalid && (numero.dirty || numero.touched)}" id="regInputNumero"
                    name="regInputNumero" placeholder="Número" [(ngModel)]="doctor.numero" #numero="ngModel" required />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="topics-group">
            <legend>Login</legend>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="email" class="form-control"
                    [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" id="regInputEmail"
                    name="regInputEmail" placeholder="E-mail" [(ngModel)]="doctor.login.email" #email="ngModel"
                    maxlength="100"
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    required />
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control"
                    [ngClass]="{'is-invalid': senha.invalid && (senha.dirty || senha.touched)}" id="regInputSenha"
                    name="regInputSenha" placeholder="Senha" [(ngModel)]="doctor.login.senha" #senha="ngModel"
                    minlength="6" maxlength="50" (keyup)="validatePasswords()" required />
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control"
                    [ngClass]="{'is-invalid': confirmarSenha.invalid && (confirmarSenha.dirty || confirmarSenha.touched) || differentPasswords}"
                    id="regInputConfirmarSenha" name="regInputConfirmarSenha" placeholder="Confirmar senha"
                    [(ngModel)]="doctor.login.confirmarSenha" #confirmarSenha="ngModel" minlength="6" maxlength="50"
                    (keyup)="validatePasswords()" required />
                </div>
              </div>
            </div>
            <div *ngIf="differentPasswords" class="row">
              <div class="col-12">
                <div class="alert alert-danger alert-dismissible">
                  <h6><i class="icon fas fa-ban"></i> As senhas não conferem.</h6>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="formRegisterDoctors.invalid">Salvar</button>
          <button type="button" class="btn btn-default pull-left" (click)="closeModal()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
