<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Pacientes</h1>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-success float-sm-right" (click)="openModalRegisterPatients()">
          Cadastrar pacientes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->

<app-register-patients (emitRegisterPatients)="subscriberPatients()" #modalRegisterPatients></app-register-patients>
<app-update-patients (emitUpdatePatients)="subscriberPatients()" #modalUpdatePatients></app-update-patients>
<app-update-status-patients (emitUpdateStatusPatients)="subscriberPatients()" #modalUpdateStatusPatients></app-update-status-patients>
<app-list-historics #modalListMedicalReportsPatients></app-list-historics>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body table-responsive">
            <table id="table-patients" class="table table-hover" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Nome da mãe</th>
                  <th>Data de nascimento</th>
                  <th>Idade</th>
                  <th>CPF</th>
                  <th>RG</th>
                  <th>Celular</th>
                  <th>Telefone</th>
                  <th>E-mail</th>
                  <th>Endereço completo</th>
                  <th>Nome do responsável</th>
                  <th>CPF do responsável</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
