/* You can add global styles to this file, and also import other style files */
:root {
  --pink-life: #ff7373;
}

.pointer {
  cursor: pointer;
}

fieldset.topics-group {
  border: 1px solid #ced4da;
  padding: 18px 18px 8px 18px;
  margin-bottom: 35px;
}

fieldset.topics-group>legend {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

input.hidden-upload-file {
  display: none;
}

input.readonly-upload-file[readonly] {
  cursor: pointer;
  background-color: #fff;
}

table.dataTable>tbody>tr.child ul.dtr-details {
  width: 100%;
}

.custom-class-multiselect .dropdown-list {
  color: #000;
}

.custom-class-multiselect .c-btn {
  border: 1px solid #D2D6DE !important;
}

.custom-class-multiselect .c-btn>span {
  color: #999;
  font-size: 16px;
}

.custom-class-multiselect .c-btn>span {
  color: #999;
  font-size: 16px;
}

.custom-class-multiselect .c-btn>span>span {
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  margin-top: 2px;
  float: left;
  position: relative;
  color: #FFF;
  font-weight: 500;
  background: #3C8DBC !important;
}

.custom-class-multiselect .c-token {
  color: #FFF;
  font-weight: 500;
  background: #3C8DBC !important;
}

.custom-class-multiselect .pure-checkbox label {
  font-size: 16px;
}

.custom-class-multiselect .pure-checkbox input[type="checkbox"]+label {
  font-weight: 500;
}

.custom-class-multiselect .pure-checkbox.selected-item {
  color: #FFF;
  background: #3C8DBC !important;
  cursor: pointer;
}

li.pure-checkbox.ng-star-inserted label {
  cursor: pointer;
}

.custom-class-multiselect .c-btn .c-angle-up, .custom-class-multiselect .c-btn .c-angle-down {
  width: 14px;
  height: 20px;
}

.custom-class-multiselect .c-btn .clear-all {
  width: 10px;
}

.fc-view.fc-list-view {
  min-height: 250px;
}

.fc-list-item {
  cursor: pointer;
}

.fc-event-dot {
  background-color: #fff !important;
}

.status-atendido {
  color: #fff !important;
  background-color: #089c52 !important;
  border-color: #089c52 !important;
}

.status-atendido:hover {
  color: #fff !important;
  background-color: #04793e !important;
  border-color: #04793e !important;
}

.status-atendido.fc-list-item:hover td {
  color: #fff !important;
  background-color: #04793e !important;
}

.status-ausente {
  color: #fff !important;
  background-color: #9c0808 !important;
  border-color: #9c0808 !important;
}

.status-ausente:hover {
  color: #fff !important;
  background-color: #790404 !important;
  border-color: #790404 !important;
}

.status-ausente.fc-list-item:hover td {
  color: #fff !important;
  background-color: #790404 !important;
}

.status-agendado {
  color: #fff !important;
  background-color: #08a3e0 !important;
  border-color: #08a3e0 !important;
}

.status-agendado:hover {
  color: #fff !important;
  background-color: #0574a0 !important;
  border-color: #0574a0 !important;
}

.status-agendado.fc-list-item:hover td {
  color: #fff !important;
  background-color: #0574a0 !important;
}
