<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static', keyboard: false }" bsModal
  #autoShownModal="bs-modal" id="confirm-register-medical-modal" class="modal fade" tabindex="-1" role="dialog"
  (onHidden)="onHiddenModal()">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Histórico de atestados</h4>
      </div>
      <div class="modal-body">
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div *ngIf="certificates.length" class="col-md-12">
                <div class="timeline">
                  <div *ngFor="let certificate of certificates">
                    <i class="fas fa-times-circle text-white"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header">{{certificate.prontuario.medico.nome}} - CRM
                        {{certificate.prontuario.medico.crm}}</h3>
                      <div class="timeline-body">
                        <div class="mt-4 card card-primary card-outline">
                          <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Atestado adicionado</h3>
                          </div>
                          <div class="card-body">
                            <p>Atesto, para os devidos fins, a pedido do interessado, que
                              <strong class="text-uppercase">{{certificate.prontuario.paciente.nome}}</strong>, foi
                              submetido à consulta médica nesta data,
                              <strong>{{certificate.prontuario.agendamento.dataInicio | date: 'dd/MM/yyyy HH:mm:ss'}}</strong>
                              -
                              <strong>{{certificate.prontuario.agendamento.dataFim | date: 'dd/MM/yyyy HH:mm:ss'}}</strong>.
                            </p>
                            <p>Em decorrência, deverá permanecer afastado de suas atividades laborativas por um período
                              de <strong>{{certificate.periodo}}</strong>, a partir desta data.</p>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-footer">
                        <div class="btn-group" role="group">
                          <a class="btn btn-primary btn-sm" target="_blank"
                            [routerLink]="['/painel-medico/prontuario', certificate.prontuario.agendamento.id]">
                            Ir para prontuário</a>
                          <button type="button" class="btn btn-default btn-sm"
                            (click)="openModalPdf(certificate.prontuario, certificate)">Imprimir</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <i class="fas fa-clock text-white"></i>
                  </div>
                </div>
              </div>
              <div *ngIf="!certificates.length" class="col-md-12">
                <p class="text-center">Nenhum atestado encontrado.</p>
              </div>
            </div>
            <!-- <div class="row" *ngIf="!finished">
              <div class="mx-auto" (click)="findCertificateHistoricByPatientId()">
                <button class="btn btn-default">Clique para carregar mais atestados</button>
              </div>
            </div> -->
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>

<app-pdf #modalPdf></app-pdf>
