<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <app-logout></app-logout>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/painel-recepcionista" class="brand-link">
      <img src="./assets/logo/simple-logo.png" alt="Clínica Viva +" class="brand-image img-circle"
        style="opacity: .8">
      <span class="brand-text font-weight-light">Clínica Viva +</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img [src]="user.imagem ? user.imagem : './assets/profile.jpg'" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a routerLink="/painel-recepcionista" class="d-block">{{ user.nome.split(' ')[0] }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-compact nav-child-indent" data-widget="treeview"
          role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/painel-recepcionista/agenda" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>Agenda</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/painel-recepcionista/listar/pacientes" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>Pacientes</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/painel-recepcionista/perfil" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>Perfil</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
