<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Exames</h1>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container mb-3">
    <div class="row">
      <div class="col-12">
        <form #formLogin="ngForm" (ngSubmit)="loginExam()" id="form-login">
          <div class="row">
            <div class="col-sm-5 mb-1">
              <div class="input-group">
                <input type="password" class="form-control"
                  [ngClass]="{'is-invalid': login.invalid && (login.dirty || login.touched)}" id="inputLoginExame"
                  name="inputLoginExame" placeholder="Login" [(ngModel)]="user.login" #login="ngModel" minlength="6"
                  maxlength="50" required />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 mb-2">
              <div class="input-group">
                <input type="password" class="form-control"
                  [ngClass]="{'is-invalid': senha.invalid && (senha.dirty || senha.touched)}" id="inputSenhaExame"
                  name="inputSenhaExame" placeholder="Senha" [(ngModel)]="user.senha" #senha="ngModel" minlength="6"
                  maxlength="50" required />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 mb-1">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="formLogin.invalid">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="exam.exame.id">
    <div class="card card-primary card-outline">
      <div class="card-header d-flex p-0">
        <h3 class="card-title p-3">Exames</h3>
      </div>
      <div class="card-body">
        <fieldset class="topics-group">
          <legend>Dados do médico</legend>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputNomeMedico" name="viewInputNomeMedico"
                  placeholder="Nome" [(ngModel)]="exam.prontuario.medico.nome" #nomeMedico="ngModel" readonly />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputCrm" name="viewInputCrm" placeholder="CRM"
                  [(ngModel)]="exam.prontuario.medico.crm" #crm="ngModel" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputMedicoCelular" name="viewInputMedicoCelular"
                  placeholder="Celular" [(ngModel)]="exam.prontuario.medico.celular" #celularMedico="ngModel"
                  readonly />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputMedicoTelefone" name="viewInputMedicoTelefone"
                  placeholder="Telefone" [(ngModel)]="exam.prontuario.medico.telefone" #telefoneMedico="ngModel"
                  readonly />
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="topics-group">
          <legend>Dados do paciente</legend>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputNomePaciente" name="viewInputNomePaciente"
                  placeholder="Nome" [(ngModel)]="exam.prontuario.paciente.nome" #nomePaciente="ngModel" readonly />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputCrm" name="viewInputCrm" placeholder="CPF"
                  [(ngModel)]="exam.prontuario.paciente.cpf" #cpf="ngModel" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputPacienteCelular" name="viewInputPacienteCelular"
                  placeholder="Celular" [(ngModel)]="exam.prontuario.paciente.celular" #celularPaciente="ngModel"
                  readonly />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputPacienteTelefone" name="viewInputPacienteTelefone"
                  placeholder="Telefone" [(ngModel)]="exam.prontuario.paciente.telefone" #telefonePaciente="ngModel"
                  readonly />
              </div>
            </div>
          </div>
          <div class="row" *ngIf="exam.prontuario.paciente.nomeResponsavel || exam.prontuario.paciente.cpfResponsavel">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputNomeResponsavel" name="viewInputNomeResponsavel"
                  placeholder="Nome do responsável" [(ngModel)]="exam.prontuario.paciente.nomeResponsavel"
                  #nomeResponsavel="ngModel" maxlength="100" readonly />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="viewInputCpfResponsavel" name="viewInputCpfResponsavel"
                  placeholder="CPF do responsável" [(ngModel)]="exam.prontuario.paciente.cpfResponsavel"
                  #cpfResponsavel="ngModel" readonly />
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row mt-2 mb-4" *ngIf="exam.exame.statusEntrega === '0'">
          <div class="col-md-10">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control readonly-upload-file" placeholder="Anexar resultado"
                  [(ngModel)]="selectedFilename" #anexo="ngModel" [ngModelOptions]="{standalone: true}"
                  onclick="$('#inputAnexo').trigger('click')" readonly />
                <div class="input-group-btn">
                  <a class="btn btn-default btn-flat" type="button" onclick="$('#inputAnexo').trigger('click')">
                    Selecionar
                  </a>
                  <input type="file" class="form-control hidden-upload-file" id="inputAnexo" name="inputAnexo"
                    (change)="onFileSelected($event)" accept="application/pdf" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 mb-3">
            <button type="button" class="btn btn-primary btn-block" [disabled]="!selectedFilename"
              (click)="uploadExam()">Enviar</button>
          </div>
        </div>
        <div class="row" *ngIf="exam.exame.statusEntrega === '1'">
          <div class="col-12 mb-2">
            <h4>Resultado liberado dia
              {{exam.exame.dataEntrega | date: 'dd/MM/yyyy HH:mm:ss'}}
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Tipo de exame</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let type of exam.exame.tipoExame">
                    <td>{{type.nome}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
